body {
  background-image: url(assets/high-resolution-wallpaper-space_334572.jpg);
  font-family: sans-serif;
  color: white;
}

span {
  font-size: 25px;
  font-weight: 900;
}

.red-text {
  font-size: 30px;
  font-weight: 900;
  color: red;
}

.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.game-info-controls {
  display: flex;
  flex-direction: column;
  width: 150px;
}

.game-info {
  border-style: inset;
  padding: 5px;
}

.controls {
  border-style: inset;
  padding: 5px;
  margin-bottom: 10px;
}

.dev-info {
  text-decoration: none;
  border-style: inset;
  background-color: black;
  border: 5px solid black;
}

.game-canvas {
  background-color: #fff;
  border: 5px solid black;
}

.input-name > input {
  width: 100px;
}

.controls {
  display: flex;
  background-color: black;
  border: 5px solid black;
}

.arrows-keys {
  display: flex;
  justify-content: space-between;
  width: 400px;
  margin-left: 15px;
  margin-right: 15px;
}

.interviews {
  margin-right: 20px;
}
.mute-pause {
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
}

.mute-pause i {
  cursor: pointer;
}

.collect-img {
  width: 42px;
  height: 35px;
}

.applications {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 20px;
}

.controls span {
  font-size: 15px;
}
